.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    flex: 0 0 100%;
    min-width: 0;
    width: auto;
    color: '#fff';
    margin-bottom: 4;
    margin-top: 2;
    background-size: 'cover';
    background-repeat: 'no-repeat';
    background-position: 'center';
    position: relative;
}
@media (max-width: 576px) {
    .embla__container {
        height: 180px !important;
    }
}
  